@import 'app/styles/index.scss';

.home-page {
    &__title {
    }

    &__content {
        margin-top: 12px;

        @include screen-min-480 {
            margin-right: 16px;
        }
        @include screen-min-1080 {
            margin-right: 20px;
        }
    }

    &__search {
        margin-left: 300px;
    }
}
