@import 'app/styles/index.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 8px;

        @include screen-min-480 {
            margin: 0 12px;
        }
        @include screen-min-1080 {
            margin: 0 16px;
        }
    }
}
